/* --- start of CSS reset --- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a {
  text-decoration: none;
}
a img {
  border: none;
}
button,
a {
  cursor: pointer;
  color: inherit;
}
textarea {
  resize: none;
}
button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
} /* --- end of CSS reset --- */

#falo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  flex-direction: row;
}

.gorog {
  height: 100px;
  width: 200px;
}

.odu.gorog {
  background-color: rgb(54, 150, 150);
}

.akhi.gorog {
  background-color: rgb(123, 35, 35);
}

.ene.gorog {
  background-color: rgb(47, 114, 30);
}

.odu {
  align-self: flex-start;
}

.akhi {
  align-self: stretch;
}

.ene {
  align-self: flex-end;
}
